body{
    font-family: arial,sans-serif;
    text-align: center;
    background-color: #add58c;
    padding: 0;
    margin: 0;
    /* overflow-y: hidden; */
}
.mainContainer{
    display: flex;
    min-width: 600px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: 20px auto;
    text-align: center;
    
    /* min-width: 600px;
    padding: 10px;
    background: white;
    border-radius: 10px; */
    position: relative;
   
}
.backToHome{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
}
h2{
    color: green;
}
input, select, button{
    margin: 5px;    
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
button:hover {
    background-color: darkgreen;
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li {
    width: 30%;
    background: #add58c;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}
#forSelectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.checkbox-container {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.trip-link {
    text-decoration: none;
    color: green;
    font-size: 18px;
}
#tripTitle{
   margin-top: -5px;
   color: #fff;
}
.tripContainer{
    background-color: green;
    height: 30px;
    width: 90px;
    margin: auto;
    border-radius: 10px;
}